[Unit]
Description=Aiogram Telegram Bot
After=network.target

[Service]
User=a
WorkingDirectory=/home/a/wb_bot_pro/bot_app
#Environment="PYTHONPATH=/home/a/wb_bot_pro/bot_app"
EnvironmentFile=/home/a/wb_bot_pro/.env
ExecStart=/home/a/wb_bot_pro/.venv/bin/python /home/a/wb_bot_pro/bot_app/run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
