[Unit]
Description=FastAPI Server
After=network.target

[Service]
User=a
WorkingDirectory=/home/a/wb_bot_pro/fastapi_app
#Environment="PYTHONPATH=/home/a/wb_bot_pro/fastapi_app"
EnvironmentFile=/home/a/wb_bot_pro/.env
#ExecStart=/home/a/wb_bot_pro/.venv/bin/python /home/a/wb_bot_pro/fastapi_app/run.py
ExecStart=/home/a/wb_bot_pro/.venv/bin/uvicorn /home/a/wb_bot_pro/fastapi_app/run:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target