[Unit]
Description=FastAPI Server
After=network.target

[Service]
User=a
WorkingDirectory=/home/a/wb_bot_pro/fastapi_app
Environment="PYTHONPATH=/home/a/wb_bot_pro/fastapi_app"
ExecStart=/home/a/wb_bot_pro/.venv/bin/python /home/a/wb_bot_pro/fastapi_app/run.py
EnvironmentFile=/home/a/wb_bot_pro/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target